* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
select {
  display: none;
  width: 49px;
  height: 28px;
}
@media (max-width: 550px) {
  select {
    display: flex;
    width: 89px;
    height: 28px;
    background-color: transparent;
    color: white;
    outline: none;
  }
  .nav {
    width: 100%;
  }
  select option {
    color: white;
  }
  .father {
    display: none;
  }
  .father a {
    display: none;
  }
  .father button {
    display: none;
  }
}

.tugma {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  outline: none;
  width: 153px;
  height: 48px;
  border-radius: 28px;
}
.tugma:hover {
  background-color: white;
  color: black;
}
.tugma:active {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  outline: none;
  width: 153px;
  height: 48px;
  border-radius: 28px;
}
.father {
  display: flex;
  gap: 40px;
  align-items: center;
}
